.Footer{
    .footer_container {
        display: flex;
    }

    .footer {
        display: flex;
        align-items: center;
        width: 1000px;
        height: 250px;
        background-color: #efefef;
        gap: 100px;
    }

    .footer_icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 250px;
        background-color: #efefef;
    }

    .borderline {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px;
        width: 3px;
        height: 250px;
        background-color: white;
    }
    
    .topgray {
        background-color: #efefef;
        width: 5px;
        height: 25px;
    }
    
    .bottomgray {
        background-color: #efefef;
        width: 5px;
        height: 25px;
    }
    
    .footer_content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .footer_content_2 {
        display: flex;
        gap: 100px;
        margin-top: 20px;
    }

    .footer_content_3 {
        display: flex;
        gap: 67px;
    }

    .footer_content_5 {
        display: flex;
        margin-left: 150px;
        margin-top: 30px;
    }
}